.border-box {
  border: 1px;
  border-style: solid;
  border-color: black;
  margin: 1em;
  padding: 1em;
}

.container {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 1rem;
  background-color: aqua;
  
  
}